project_id = "REPLACE_WITH_QWIKLABS_PROJECT_ID"
region     = "europe-west3"

cluster_name      = "homeoffice-cluster"
node_count        = 1
node_machine_type = "e2-medium"
node_disk_size_gb = 30

alert_email = "ahmad.fawzzi@gmail.com"
